{% extends "main.html.twig" %}

{% block header %}
    <script>
    $(DocumentType).ready(function() {
        $("#head_background_img").vegas('options', 'slides', [{src:'{{ data.0.afbeelding }}'}]);
    

        $(".add_to_cart_button").click(function() {
            $.ajax({
                url:"./index.php",
                type: "GET",
                data: {
                    user_id: 1,
                    gerecht_id: {{data.0.id}},
                    action: "add_ingredients_to_cart",
                },
            }).done(function(){
                window.location.href = "index.php?action=cart";
            });          
        }); 

        $(".red_heart").click(function() {
            console.log("clicked");
            $.ajax({
                url:"./index.php",
                type: "GET",
                data: {
                    user_id: 1,
                    gerecht_id: {{data.0.id}},
                    action: "toggle_favorite",
                },
            }).done(function(){
                //change class of child element from fa to far or vice versa
                $(".red_heart").children().toggleClass("fa fa-heart fa-2x far fa-heart fa-2x");
            });          
        });
    });
    </script>
{% endblock %}

{%  block content %}
    <div class="row">
        <div class="col-12">
            <div class="row detail_box">
                <div class="col-12 col-lg-5 dish_img">
                    <img src="{{data.0.afbeelding}}" alt="404">
                </div> 

                <div class="col-12 col-md-7 dish_details">
                    <div class="">
                        <div class="dish_top_info">
                                <p><i class="fa fa-male"></i> 4</p>
                                <p><i class="fa fa-euro-sign euro_sign"></i> {{data.0.totaalprijs|replace({'.':','})}},-</p>
                                <p><i class="fa fa-fire"></i> {{data.0.calorieen}}</p>                         
                        </div>

                        <div class="row dish_title_row"> <!-- dishes_top_row">-->
                            <div class="col-8 ">
                                <h2>{{ data.0.titel }}</h2>
                            </div>
                            <div class="col-4 stars_container">
                                <div class="stars" data-stars="{{data.0.id}}">
                                    {% for i in 1..5 %}
                                        {% if data.0.gemiddelde_waardering >= i %}
                                            <div class="star" data-value="{{i}}"><i class="fa fa-star"></i></div>
                                        {% else %}
                                            <div class="star" data-value="{{i}}"><i class="far fa-star"></i></div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row kitchen_type_bar">
                                    <div class="col-8">
                                        <h4>Keuken</h4> <p>{{data.0.keuken.omschrijving}}</p>
                                    </div>
                                    <div class="col-4">
                                        <h4>Type</h4> <p>{{data.0.type.omschrijving}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dish_long_description"><!--dishes_short_description">-->
                            <p>{{data.0.lange_omschrijving}}</p>
                        </div>

                        <div class="row">
                            <div class="col-9">
                                <div class="add_dish_to_cart_button">
                                    <div class="add_to_cart_button">
                                        <h3>Op lijst</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="favorite_button">
                                {% if data.0.is_favoriet != null %}
                                    <div class="red_heart"><i class="fa fa-heart fa-2x"></i></div>
                                {% else %}
                                    <div class="red_heart"><i class="far fa-heart fa-2x"></i></div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>

    <div class="row">
        <div class="coll-12">

            <div class="toggle_buttons">
                <button class="ingredient_toggle_button button_to_front"><h3>Ingredienten</h3></button>
                <button class="steps_toggle_button"><h3>Bereiding</h3></button>
                <button class="comments_toggle_button"><h3>Comments</h3></button>
            </div>

            <div class="detail_tabs">
                <div class="tab_content">
                    <div class="ingredients_tab">
                        <ul>
                            {% for ingredient in data.0.ingredienten %}
                                <div class="row">
                                    <div class="col-12 col-lg-2">
                                        <img src="{{ ingredient.afbeelding }}" alt="404">
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <li><h3>{{ ingredient.naam }}</h3></li>
                                        <li>{{ ingredient.omschrijving }}</li>
                                        <li><h4 style="display: inline-block;">Hoeveelheid: </h4> {{ingredient.aantal}} {{ ingredient.eenheid }}.</li>
                                    </div>
                                    <div class="col-2">
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="steps_tab hide_tab">
                        <ul>
                            {% for bereiding in data.0.bereidingswijze %}
                                <div class="row">
                                    <div class="col-12 col-lg-2">
                                        <h2>{{ bereiding.nummeriek_veld}}.</h2>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <li>{{ bereiding.tekst_veld }}</li>
                                    </div>
                                    <div class="col-2">
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="comments_tab hide_tab">
                        <ul>
                            {% for comment in data.0.opmerkingen %}
                                <div class="row">
                                    <div class="col-12 col-lg-2">
                                        <img src="{{comment.afbeelding}}" alt="404">
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <li><h3>{{ comment.user_name }}</h3></li>
                                        <li>{{ comment.tekst_veld }}</li>
                                    </div>
                                    <div class="col-2">
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="scroll_indicator">
                    <i class="fa fa-chevron-down fa-2x"></i>
                </div>
            </div>

        </div>
    </div>

    <pre>
        {{ dump(data) }}
       </pre>

{%  endblock %}