{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}

{% endblock %}
{# nu de block content op in de main pagina vullen #}
{% block content %}

    <div class="row"> 
        {% for record in data %}

            <div class="col-lg-12 col-xl-6 dishes_content">
                <div class="small_dish_dishplay">
                    
                    <div class="dishes_img">
                        <img src="{{ record.afbeelding }}">
                    </div>
                    <div class="row dishes_top_row">
                        <div class="col-8 ">
                            <h2>{{ record.titel }}</h2>
                        </div>
                        <div class="col-4">
                            <p>ingredienten: {{ record.ingredienten|length }} sterren: {{ record.gemiddelde_waardering }}<p>
                        </div>
                    </div>
                    <div class="dishes_short_description"><p>{{record.korte_omschrijving}}</p>
                    </div>

                    <div class="dishes_bottom_row">
                        <form>
                            <button type="submit" formmethod="get" formaction="index.php?gerecht_id=3&action=detail" class="disch_dishplay_button"><h3>Smullen!<h3></button> 
                        </form>                   
                        <div class="bottom_right">
                            <p><i class="fa fa-male"></i> 4</p>
                            <p><i class="fa fa-euro-sign"></i> {{record.totaalprijs}},-</p>
                            <p><i class="fa fa-fire"></i> {{record.calorieen}}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

     {# Dump #}
       <pre>
        {{ dump(data) }}
       </pre>

{% endblock %}
