{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{#
{% block linking %}
<link rel="stylesheet" type="text/css" href="assets/css/homepage.css" />
{% endblock %}
#}
{# #}
{% block header %}

{% endblock %}
{# nu de block content op in de main pagina vullen #}
{% block content %}

    {% for record in data %}
        <div class="col-12 col-md-6 dishes">
            <img class="dish_img" src="{{ record.afbeelding }}">

            <div class="dish_titel" {{ record.titel }} ingredienten: {{ record.ingredienten|length }}

            <div class="short_description"><p>{{record.korte_omschrijving}}</p></div>
        </div>
    {% endfor %}

    <ul>
    {% for record in data %}
    
        <li class="">
            <img class="" src="{{ record.afbeelding }}">

            {{ record.titel }} ingredienten: {{ record.ingredienten|length }}
            {# sub-loop #}

            <p>{{record.korte_omschrijving}}</p>

        </li>
    {% endfor %}
    <ul>
     {# Dump #}
       <pre>
        {{ dump(data) }}
       </pre>

{% endblock %}
